
/* Обнуление отступов */
html{
    box-sizing: border-box;
}

*, 
*::before,
*::after{
    box-sizing: inherit;
}


body{
    /* height: 100%; */
font-family: 'Roboto', sans-serif;
margin: 0;
padding: auto;
background: var(--bg-body-color)
}

/* =----------------------OTHER----------------- */

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo-studio:hover,
.nav-studio:hover,
 .nav-portfolio:hover, 
.nav-contacts:hover,
 .contact-maill:hover, 
.contact-tell:hover,
.adress-place:hover,
.adress:hover,
.footer-logo-studio:hover { 
    color: var(--link-active);
} 

.nav-contacts :visited {
    color: var(--link-active);
}


.logo-studio:focus,
.nav-studio:focus,
.nav-portfolio:focus,
.nav-contacts:focus,
.contact-maill:focus,
.contact-tell:focus,
.adress-place:focus,
.adress:focus,
.footer-logo-studio:focus {
color: var(--link-active);
}

:root{
    --logo-web-color:#2196F3;
    --logo-studio-up:#000000;
    --logo-studio-lower: #FFFFFF;
    --nav-color:#212121;
    --contacts-color:#757575;
    --button-text-color:#FFFFFF;
    --button-active-color:#188CE8;
    --button-color:#2196F3;
    --link-active:#2196F3;
    --adress-contact-color:rgba(255, 255, 255, 0.6);
    --adress-place-color:#FFFFFF;
    --bg-footer-color:#2F303A;
    --bg-body-color:#FFFFFF;
    --bg-hero-color:#2F303A;
    --bg-team-color:#F5F4FA;
    --bg-taam-card-color:#fff;
    --h-hero-color:#FFFFFF;
    --h-what-color:#212121;
    --h-team-color:#212121;
    --team-name-color:#212121;
    --team-dsk-color:#757575;
    --feature-list-h:#212121;
    --feature-dsk:#757575;
    --nav-line:#ECECEC;
/* colors of portfolio */
    --project-bg-btn:#F5F4FA;
    --project-border-btn:#F5F4FA;
    --project-btn-text:#212121;
    --project-btn-active-text:#FFFFFF;
    --project-card-border:#EEEEEE;
    --project-card-h:#212121;
    --project-card-dsk:#757575;

}
/* --------------Header --------------*/
.head {
border-bottom: 1px solid var(--nav-line);
}

.container-head {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15px;
    width: 1200px;

}

/* --------------NAVIGATION  --------------*/
.navigation{
display: flex;
align-items:center;


}

/* --------------LOGO --------------*/

.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-web-color);
    margin-right: 93px;
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-studio-up);
}

.nav-list-other {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}


.nav-studio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}

.nav-portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}

.nav-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}

/* --------------CONTACTS --------------*/
.contacts {
    display: flex;
    justify-content: space-around;
    padding: 0;
gap: 50px;
}

.contact-maill{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--contacts-color);
}

.contact-tell{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
}

/*---------- MAIN-----------*/

/* Section PORTFOLIO --*/

.portfolio{
  
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
    
}

.our-projects{
    width: 1170px;
    height: 1360px;
    margin: 94px auto;
    padding: 0;
}

/* BUTTONS PORTFOLIO */
.all-btn{
    display: flex;
justify-content: center;
}
.list-btn{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-gap: 8px;
    width: 575px;
    height: 54px;
    margin: 0;
}
.button-portfolio{
    width: auto;
    height: 38px;
    background: var(--project-bg-btn);
    border-radius: 4px;
    border: var(--project-border-btn);
    padding: 6px 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var(--project-btn-text);
cursor: pointer;
}

.button-portfolio:hover{
    background-color: var(--button-color);
    color: var(--project-btn-active-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* LIST OUR PROJECTS PORTFOLIO*/

.project-list{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    padding: 0;
}
.img-project{
    display: inline-block;
width: 100%;

}

.project-card{
width: 370px;
height: 404px;

outline:1px solid var(--project-card-border);
}
.project-heading{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--project-card-h);
padding-left: 24px;
margin: 20px 0 4px 0;
}
.project-descriotion{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--project-card-dsk);
padding-left: 24px;
margin: 4px 0 20px 0;
}


/*--------Section  HERO STUDIO--------*/

.hero-section {
background-color:  var(--bg-hero-color);
padding: 200px 0;
text-align: center;

}

.hero-heading{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--h-hero-color);
margin: 0;
margin-bottom: 30px;
}


/* -------BUTTON-------- */

.button {
border-radius: 4px;
min-width: 240px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
padding: 10px 35.6px;
background: var(--button-color);

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.06em;
color: var(--button-text-color);

cursor: pointer;

}

.button:active{
    background: var(--button-active-color)
}

/* Общая секция для "Our feature" и "What do we do? "*/
.about-our-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    
    }

/*   ------------Our feature ------------- */



.our-feature{
    padding: 95px 0;
}


/*  feature heading hidden*/
.hidden {
color: rgba(0, 0, 0, 0);
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/* feature  list OTHER*/
/* Контейнер с прймуществами */

.features{
display: flex;
flex-wrap: wrap;
grid-gap: 30px;
}

/* feature  card*/
.feature-list-style {
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: flex-start;

}

.feature-list-heading{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin: 0;
margin-bottom: 10px;
text-transform: uppercase;
color: var(--feature-list-h);
}

.feature-list-description{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--feature-dsk);
margin:  0px;
}

    /* --------What do we do? ---------*/
.what-do-we-do{
   margin: 0 auto;

}
.what-heading{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--h-what-color);
margin: 0;
margin-bottom: 50px;
}


.what-list-other {
display: flex;
flex-wrap: wrap;
grid-gap: 30px;
}

.img-what {
width: 370px;
display: block;
}

/*-------------- OUR TEAM---------------*/

.our-team{
 background-color: var(--bg-team-color);
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content:center ;
 padding: 95px 0;
}

.our-team-heading{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--h-team-color) ;

margin-top: 0;
margin-bottom: 50px;
}


.our-team-list{
display: flex;
flex-wrap: wrap;
grid-gap: 30px;

}


 .team-card{
flex-direction: column ;
background-color: var(--bg-taam-card-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    align-self: flex-start;
    
 }


 /*-------- Images--------*/
.imag-team{
  width: 270px;
 display: block;
 
}

.container-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-name-color);
    margin: 0 0 10px;
}

.our-team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-dsk-color);
    margin: 0;
}



/* -------------FOOTER-------------- */

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-footer-color);
    padding: 60px 0px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    padding: 0 15px;
}


.footer-logo-web{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-web-color);

    margin-bottom: 20px;
}

.footer-logo-studio{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color: var(--logo-studio-lower);
}


.adress-place{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--adress-place-color)
}

.adress{
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-contact-color);
}